<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
    <!-- 导航 -->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted menu stackable secondary">
                <h2 class="ui header teal" style="padding-top: 0.5em;">HBlog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search">
                        <i class="search icon link"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!-- 中间内容 -->
    <div class="m-padded-tb-big m-container">
        <div class="container">
            <div class="ui stackable grid">
                <!--左边图片-->
                <div class="eleven wide column">
                    <div class="ui segment">
                        <img src="https://unsplash.it/800/600?image=1005" alt="" class="ui rounded image">
                    </div>
                </div>

                <!--右侧简介-->
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>

                    <div class="ui attached segment">
                        <p class="m-text">个人简介为某人的简要介绍。个人简介可以是表格的形式，也可以是其他形式。一般用于初次见面时个人介绍中或者个人履历表中等</p>
                        <p class="m-text">是表格的形式，也可以是其他形式。一般用于初次见面时个人介绍中或者个人等</p>
                    </div>

                    <div class="ui attached segment">
                        <div class="ui orange basic label m-margin-tb-tiny">编程</div>
                        <div class="ui orange basic label m-margin-tb-tiny">写作</div>
                        <div class="ui orange basic label m-margin-tb-tiny">运动</div>
                        <div class="ui orange basic label m-margin-tb-tiny">思考</div>
                    </div>

                    <div class="ui attached segment">
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">Node</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">Mysql</div>
                        <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
                    </div>

                    <div class="ui bottom attached segment">
                        <a href="" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                        <a href="" class="ui qq circular icon button" data-content="947751771" data-position="bottom center"><i class="qq icon"></i></a>
                    </div>

                    <div class="ui wechat-qr flowing popup hidden">
                        <img src="../static/image/wechat.jpg" style="width: 100px" alt="" class="ui rounded image">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>

    <!-- 底部footer -->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui grid inverted divided">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/image/wechat.jpg" class="ui rounded image" style="width: 100px;height: 100px;" alt="">
                        </div>
                    </div>
                </div>

                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(user story)</a>
                        <a href="#" class="item">用户故事(user story)</a>
                        <a href="#" class="item">用户故事(user story)</a>
                    </div>
                </div>

                <div class="three wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email: hh_zss@163.com</a>
                        <a href="#" class="item">QQ: 947751771</a>
                    </div>
                </div>

                <div class="seven wide column">
                    <h4 class="ui inverted">HuHanBlog</h4>
                    <p class="m-text-thin">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这的人有所帮助......</p>
                </div>
            </div>

            <div class="ui inverted section divider"></div>
            <p class="m-text-lined m-text-spaced m-opacity-tiny"> Copyright © 2018-2019 HuHan Designed By YaoYao</p>
        </div>
    </footer>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

    <script>
        $(".menu.toggle").click(function () {
            $(".m-item").toggleClass('m-mobile-hide')
        });

        $(".qq").popup();

        $(".wechat").popup({
            popup: $(".wechat-qr"),

            position:'bottom center'
        });
    </script>
</body>
</html>